{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current",
          "electron": "28"
        },
        "modules": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}